<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I./JG7 Nowotny</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        setTimeout(function() {
            window.location.href = "/login";
        }, 6000);
    </script>
</head>
<body class="start-page">
    <div class="center-logo">
        <img src="{{ url_for('static', filename='img/emblem.png') }}" alt="Logo" class="start-logo">
        <h1>I. Gruppe</h1>
        <h2>Jagdgeschwader 7 Nowotny</h2>
    </div>
</body>
</html>